.side-nav{
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    padding-top: 9rem;
    height: 100vh;
    width: 20rem;
    margin: 0;
}

.side-nav .side-nav-link{
    margin: 0.5rem;
    gap: 1rem;
    border-left: 4px solid transparent ;
    margin: 0;
    border-radius: 0;
    padding: 2rem 1.3rem;
    
}
.side-nav .side-nav-link:hover{

    border-left: 4px solid var(--primary-color) ;
    background-color: var(--lynx-white-color);

}
.side-nav .side-nav-link .side-nav-icon{
font-size: 2rem;

}

/* shrinked sidenav*/

.side-nav.shrinked{
    width: 5rem;
}
.side-nav.shrinked .side-nav-icon-name{
    display: none;
}