.main-container{
/* background-color: var(--lynx-gray-color); */
 /* height: 100vh; */
 padding: 2rem 2rem 2rem 24rem;
 /* border: 1px solid black; */

}

.video-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap:16px;
    grid-row-gap:15px;
    /* border: 1px solid red; */
   
}


.video-card .thumbnail{
    width: 100%;
    border-radius: 0.5rem;
}

/* style from CL */

a{
    padding: 0;
}

/*  ****     */

.video-card .flex-container{
    align-items: flex-start;
    margin-top: 0.8rem;
}
.video-card .flex-container img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}
.video-card .video-info{
    color: var(--link-color);
    font-weight: var(--semibold-font);
    font-size: 13px;
    
}
.video-card .video-info a {
    color: var(--black-color);
  
    font-size: 13px;
    display: block;
    margin-bottom: 0.5rem;
}
.video-card .video-info p{
    margin: 0.3rem 0;
   
}

/* style when side nav shrinked */

.main-container.expand-main-container{
    padding-left: 10rem;
   
}