.play-container {
  padding-left: 10rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.right-sidebar {
  flex-basis: 32%;
}

@media screen and (max-width: 960px) {
  .play-container {
    padding-left: 2rem;
  }
  .right-sidebar {
    flex-basis: 100%;
    margin-top: 2rem;
  }
}
