.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.modal-container {
  position: fixed;
  margin: 0 auto;
  border: rgb(95, 99, 104, 0.8) solid 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0.5em;
  padding: 1em;
  width: 20%;
}

.playlist-modal-header {
  justify-content: space-between;
}
.playlist-modal-header .btn-cross {
  color: var(--black-color);
}
.playlist-modal-body .input-container {
  display: flex;
  padding: 0.4rem;
  align-items: center;
}
.playlist-modal-body .input-container .input-check {
  border: 1px solid var(--black-color);
  width: 12px;
  height: 12px;
  margin-right: 0.5rem;
}
.modal-lists {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1rem;
  border-bottom: 1px solid var(--lynx-gray-color);
}
.modal-lists li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-check {
  color: var(--black-color);
}

.create-playlist-footer {
  padding: 0.5rem;
}

.create-playlist-input {
  border-bottom: 1px solid var(--lynx-gray-color);
  width: 100%;
}
.create-playlist-footer .create-playlist-btn {
  margin-top: 1rem;
  color: var(--black-color);
}

@media screen and (max-width: 950px){
  .modal-container{
    width: 30%;
  }
}
@media screen and (max-width: 600px){
  .modal-container{
    width: 50%;
  }
}
@media screen and (max-width: 370px){
  .modal-container{
    width: 70%;
  }
}