@import url("https://pineui.netlify.app/css/components.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    align-items: center;
}
img{
    cursor: pointer;
}

li{
    list-style: none
}
.divider{
    border: 0;
    margin: 1rem 0;
    height: 1px;
    background-color: var(--lynx-gray-color)
}

:root{
    --primary-color: #c00;
    --dark-primary-color: #a30000;
    --hashtag-color: #065fd4;
}
